.box-container {
  background-color: white;
  padding: 25px;
  height: 100%;
  width: 450px;
  min-height: 250px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.box-header {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
  font-size: 35px;
  border-bottom: 4px solid #f0f0f0;

}

.box-body {
  flex-grow: 1;
  font-size: 30px;
  color: #555;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}