<div class="dashboard-body">
  <div class="header">
    <h1 class="title">RESTAURANT: {{ restaurantName | uppercase }}</h1>
    <button class="btn-home" routerLink="/">HOME PAGE</button>
  </div>

  <div class="main-content">
    <div class="button-group">
      <button
        class="btn large-btn manage-dish"
        routerLink="/manager/dish/{{ restaurantId }}">
        MANAGE DISH
      </button>
    </div>

    <div class="button-group bottom-row">
      <button
        class="btn large-btn manage-workflow"
        routerLink="/manager/opening-hours/{{ restaurantId }}">
        MANAGE WORKFLOW
      </button>
      <button class="btn large-btn see-order" [routerLink]="['/manager/orders', restaurantId]">SEE ORDER</button>
    </div>
  </div>
</div>
