
.student-home-page-main{
  display: flex;
  height: 100vh;
  background-color: #d9d9d9;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.restaurant-filters-container{
  margin: 35px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.restaurant-list-container{
  margin: 35px;
}
