<div class="student-home-page-body">

  <app-student-home-page-nav [studentName]="studentName" [studentSurname]="studentSurname"></app-student-home-page-nav>

  <main class="student-home-page-main">
    <div class="restaurant-filters-container">

        <app-restaurant-filter
          label="Cuisine Type"
          [options]="['Italian','American','Japanese','French','Chinese','Indian','Mexican','General']"
          (selectionChange)="onItemChange($event)">
        </app-restaurant-filter>

        <app-restaurant-filter
          label="Diatery Label"
          [options]="['Gluten Free','Frozen Product','Vegetarian','Vegan','Halal']"
          (selectionChange)="onItemChange($event)">
        </app-restaurant-filter>
    </div>

    <div class="restaurant-list-container">
      <app-item-list
        [title]="'Restaurants'"
        [items]="restaurantList"
        [displayKey]="'restaurantName'"
        (itemClicked)="onRestaurantClick($event)">
      ></app-item-list>
    </div>
  </main>

</div>
