

.nav-container {
  display: flex;
  padding: 20px;
  max-height: 120px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
}

.nav-container p {
  font-weight: 600;
  font-size: 25px;

}

div:has(.nav-btn) {
  display: flex;
  gap: 100px;
  background-color: #f5f5f5;
}

.nav-btn {
  font-size: 25px;
  padding: 10px 20px;
  border: 1px solid #007bff;
  background-color: white;
  color: #007bff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease-in-out;

  /* Style au survol (seulement si le bouton n'est pas désactivé) */
  &:hover:not(:disabled) {
    background-color: #007bff;
    color: white;
  }

  /* Style quand le bouton est ACTIF (et donc désactivé) */
  &.active-state, &:disabled {
    background-color: #e9ecef; /* Fond gris */
    color: #495057; /* Texte gris foncé */
    border-color: #ced4da;
    cursor: default; /* Pas de curseur main */
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.05); /* Effet "enfoncé" optionnel */
    opacity: 0.8;
  }
  .cart-btn {
    border-color: #28a745;
    color: #28a745;
  }

  .cart-btn:hover {
    background-color: #28a745;
    color: white;
  }
}

