.home-body{
  margin: 0;
  padding: 0;
  font-family: Arial, serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  background-color: #d9d9d9;
  height: 100vh;
  padding-top: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #b0b0b0;
  border: none;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}
