<div class="home-body">
<div class="container">
  <div class="card">
    <button class="btn" routerLink="/create-student-page">CREATE STUDENT</button>
    <app-item-list [title]="'Students'" [items]="students"></app-item-list>
  </div>

  <div class="card">
    <button class="btn">CREATE RESTAURANT</button>
    <app-item-list
      [title]="'Restaurants'"
      [items]="restaurantsForList"
      [displayKey]="'restaurantName'"
      (itemClicked)="onRestaurantSelect($event)">
    </app-item-list>  </div>
</div>
</div>

