.list-box {
  background-color: white;
  width: 250px;
  height: 200px;
  padding: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #b0b0b0 #f5f5f5;
}

/* Pour Chrome / Edge / Safari */
.list-box::-webkit-scrollbar {
  width: 8px;
}

.list-box::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 4px;
}

.list-box::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 4px;
}
