.main-account-container {
  background-color: #e0e0e0;
  padding: 50px;
  min-height: 100vh;
}

.info-boxes-row {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 40px;
  align-items: stretch;

  height: 500px;

  app-info-box {
    flex: 1;
    max-width: 350px;
  }
}

.action-buttons-row {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
}

.grey-action-btn {
  padding: 10px 20px;
  border: 1px solid #007bff;
  background-color: #055eb6;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  font-size: 27px;

  width: 250px;
  height: 100px;
  &:hover{
    background-color: #007bff;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond noir semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* S'assure qu'il est au-dessus de tout */
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-content h2 {
  margin-top: 0;
  color: #333;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-weight: bold;
  font-size: 0.9em;
}

.form-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cancel-btn {
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn {
  background-color: #007bff; /* Ou ta couleur principale */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}
