.main-account-container {
  background-color: #e0e0e0;
  padding: 50px;
  min-height: 100vh;
}

.info-boxes-row {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 40px;
  align-items: stretch;

  height: 500px;

  app-info-box {
    flex: 1;
    max-width: 350px;
  }
}

.action-buttons-row {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
}

.grey-action-btn {
  padding: 10px 20px;
  border: 1px solid #007bff;
  background-color: #055eb6;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  font-size: 27px;

  width: 250px;
  height: 100px;
  &:hover{
    background-color: #007bff;
  }
}
