.filter-btn {
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  height: 75px;
  width: 200px;
  transition: all 0.2s;

  &:hover {
    background-color: #f9f9f9;
    border-color: #bbb;
  }
}

.dropdown-container {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  font-family: sans-serif;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 1000;
  min-width: 100%;
  width: max-content;

  max-height: 200px;
  overflow-y: auto;
}

.label {
  padding: 0 12px;
  font-size: 20px;
  color: #333;
  font-weight: 500;
}

.separator {
  width: 1px;
  height: 20px;
  background-color: #ddd;
}

.arrow {
  padding: 0 8px;
  font-size: 10px;
  color: #666;
}

ul{
  list-style: none;
  padding-left: 0;
}


li {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;

  &:hover {
    background-color: #f0f0f0;
  }

  &.selected {
    background-color: #e6f7ff;
  }
}

.option-checkbox {
  margin-right: 10px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.option-text {
  user-select: none;
}
